# editorconfig.org
root = true  #表示是最顶层的配置文件，发现设为 true时，才会停止查找.editorconfig文件

[*]                   #通配符 * ：表示匹配除/之外的任意字符串
indent_style = space  #设置缩进风格(tab是硬缩进，space为软缩进)
indent_size = 4       #用一个整数定义的列数来设置缩进的宽度，如果indent_style为 tab，则此属性默认为 tab_width
end_of_line = lf      #设置换行符，值为 lf、cr和crlf
charset = utf-8       #设置编码，值为 latin1、utf-8、utf-8-bom、utf-16be和 utf-16le，不建议使用 utf-8-bom
trim_trailing_whitespace = true #设为 true表示会去除换行行首的任意空白字符
insert_final_newline = true  #设为 true表示使文件以一个空白行结尾

[*.md]
trim_trailing_whitespace = false  #设为 true表示会去除换行行首的任意空白字符
