.chessboard-cell-B {
	position: relative;
    z-index: 99;
    width: 27px;
	height: 27px;
    top: -2px;
    left: -2px;
}

.chessboard-cell-B::after {
    content: "";
    position: absolute;
    top: 12%;
    left: 12%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #333333;
	box-shadow: 0px 2px 5px 2px #eee;
}

.chessboard-cell-W {
	position: relative;
    z-index: 99;
    width: 27px;
	height: 27px;
    top: -2px;
    left: -2px;
}

.chessboard-cell-W::after {
    content: "";
    position: absolute;
    top: 12%;
    left: 12%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
	background-color: #fff;
	box-shadow: 0px 2px 5px 2px rgb(180, 180, 180);
}

.chessboard-cell-O {
    position: relative;
    z-index: 99;
    width: 27px;
	height: 27px;
    top: -2px;
    left: -2px;
}

.chessboard-cell-O::after {
    content: "";
    position: absolute;
    top: 13%;
    left: 13%;
    width: 60%;
    height: 60%;
    border: 2px solid #000;
    border-radius: 50%;
}

.chessboard-cell-X {
    z-index: 99;
    width: 27px;
	height: 27px;
    top: -2px;
    left: -2px;
    position: relative;
}

.chessboard-cell-X::before,
.chessboard-cell-X::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    height: 2px;
    background-color: black;
    transform-origin: center;
}
.chessboard-cell-X::before {
    transform: translate(-50%, -50%) rotate(45deg);
}
.chessboard-cell-X::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}
